:root{
  --page1-color: #990033;
  --page2-color: #651507;
  --page3-color: #5c8540;
  --page4-color: #9c6a40;
  --animate-speed: 1s;

}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Page colors */
#page1{
  background-color: var(--page1-color);
}
#page2{
  background-color: var(--page2-color);
}
#page3{
  background-color: var(--page3-color);
}
#page4{
  background-color: var(--page4-color);
}

.page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 0 4rem;
}

.page h1{
  font-size: 4rem;
  line-height: 1.2;
  margin: 1rem;
}

.page p{
  font-size: 1.3rem;
  max-width: 1000px;
}

.btn{
  display: inline-block;
  text-decoration: none;
  color: #222;
  padding: 1rem 2rem;
  background-color: #f4f4f4;
  margin-top: 1.2rem;
  border: none;
  border-radius: 3px;
  transition: all .3s ease-in;
}

.btn:hover{
  color: #222;
  background-color: #aaa;
}

.btn-dark {
  color: #f4f4f4;
  background-color: #222;
}

.btn-dark:hover{
  color: #f4f4f4;
  background-color: #444;
}

/* Page animation */

#page1 h1{
  transform: translateY(-50rem);
  animation: heading var(--animate-speed) forwards ease-out;
}

#page1 p{
  display: flex;
  transform: translateX(-100rem);
  animation: paragraph var(--animate-speed) forwards ease-out 1s;
}

/* Keyframes */
@keyframes heading{
  to{
    transform: translateY(0);
  }
}

@keyframes paragraph{
  to{
    transform: translateX(0);
  }
}